@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lora&family=Nunito:wght@500&family=Open+Sans&family=Oswald&family=Poppins:wght@400;500&family=Work+Sans:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/* -----utility--- */
body {
    font-family: 'Crimson Text', serif;

}

html {
    scroll-behavior: smooth;
}

.navbar,
.banner-container,
.feature-1,
.feature-2,
.facts,
.sponsor,
.footer {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
}

.header,
.banner {
    background: #ff900e1a;
}

.btn {
    cursor: pointer;
    background-color: #FF900E;
    color: #ffffff;
}

main {
    position: relative;
}

/* ----
header/navbar-- */
.navbar {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.header .navbar ul {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header .navbar ul li a {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding: 5px 0;
    transition: 0.2s;
}

.header .navbar ul li a:hover {
    border-bottom: 2px solid #000;
}

/* ----
 banner section
 ---- */
.banner {
    text-align: center;
    padding-bottom: 40px;
}

.banner .banner-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    padding-top: 20px;
}

.banner .banner-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 15px 100px;
}

.banner-btn {
    border: none;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.banner .banner-image img {
    width: 100%;
}

/* --
feature 1 style ---*/

.feature-1 {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}

.feature-1 .image-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.feature-1 .image-container img {
    width: 100%;
}

.feature-1 .feature-text {
    width: 50%;
}

.feature-1 .feature-text h3 {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
}

.feature-1 .feature-text p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.feature-1 .feature-text .feature-1-btn {
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 13px 20px;
    margin-top: 15px;
}

/* ---
 feature 2 section 
 -----*/
.feature-2 {
    display: flex;
    gap: 80px;
    /* position: relative; */
    margin-bottom: 30px;
}

.feature-2-text {
    width: 50%;
}

.feature-2-text h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding-left: 25px;
    margin-bottom: 20px;
    border-left: 4px solid #FF900E;
}

.feature-2-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #727272;
}

.feature-2-text .feature-individual {
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0px 4px 20px #0000000f;
    border-radius: 8px;
}

.feature-2-text .feature-individual p {
    line-height: 20px;
}

.feature-2-image {
    margin-top: 20px;
    position: relative;
}

.feature-2-image img {
    width: 100%;
}

.feature-2-image .feature-2-btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem 1.2rem;
    font-size: 2.5rem;
    font-weight: 600;
    position: absolute;
    bottom: 5px;
    left: -70px;
}

/* -----
works section--- */
.work-section {
    height: 100vh;
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.work-section h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.work-section .work-container .work img {
    width: 100%;

}

.work-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 200px;
}

.work img {
    border-radius: 5px;
    box-shadow: 0px 0px 9px 2px #0000006a;
}

.work-1 {
    grid-column: 1 / 3;
}

.work-1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ----
 facts section -----*/
.facts {
    margin-top: 50px;
    text-align: center;
}

.facts h3 {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding-top: 50px;
}

.facts p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
}

.fact-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.fact-individual {
    width: 10rem;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.fact-individual:hover {
    color: #000;
    border: 1px solid #FFF4E7;
    background-color: #FFF4E7;
    box-shadow: 0 0 9px 5px #0000006a;
}

.fact-individual h4 {

    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
}

.fact-individual p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #737373;
}

/* ----
--sponsor section
 -----*/
.sponsor {
    text-align: center;
    padding: 30px 0;

}

.sponsor h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.sponsor p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
}

.sponsor-container {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 40px 0;
    cursor: pointer;

}

.sponsor-container p img {
    width: 100%;
    filter: grayscale(1);
    transition: 0.5s;
}

.sponsor-container p img:hover {
    filter: grayscale(0);

}

/* --------
 footer section--------- */
.footer {
    height: 45vh;
    background-color: #FFF4E7;
    padding: 25px 0;
    text-align: center;
    margin-bottom: 30px;
}

.footer p {
    color: #424242dc;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

/*------- 
about us ----- */
.footer .about {
    width: 600px;
    margin: 40px auto;
    display: flex;
    gap: 40px;
}

.about-text h3 {
    margin-bottom: 15px;
    color: #000;
}

.about-text {
    text-align: left;
    color: #424242dc;
}

/* -------
contact---- */
.about .contact {
    text-align: left;
}

.about .contact h3 {
    margin-bottom: 10px;
}

.about .contact input,
textarea {
    border: none;
    border-radius: 7px;
    margin: 5px 0;
    font-size: 15px;
    padding: 10px;
    resize: none;
}

.about .contact .submit-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
}

/* 
media queries--------
*/
@media screen and (max-width:576px) {

    /* navbar */
    .navbar {
        background-color: #ff8f0e25;
        flex-direction: column;
        height: 22vh;
        height: 100%;
    }

    .header .navbar ul {
        flex-direction: column;
        gap: 0;
    }

    .banner .banner-subtitle {
        margin: 15px 15%;
    }

    .banner .banner-image {
        margin: 0 3%;
    }

    /* feature 1 */
    .feature-1 {
        text-align: center;
        flex-direction: column;
        gap: 15px;
        height: 100%;
        margin: 40px auto;
    }

    .feature-1 .image-container {
        width: 90%;
    }

    .feature-1 .feature-text {
        width: 90%;
    }

    .feature-2 {
        flex-direction: column;
        gap: 20px;
    }

    .feature-2 .feature-2-text {
        width: 100%;
    }

    .feature-2-text h3 {
        margin: 0 4%;
    }

    .feature-2 .feature-2-text p,
    .feature-container {
        margin: 0 4%;
    }

    .feature-2-text .feature-individual p {
        margin: 0;
    }

    .feature-2 .feature-2-image {
        width: 90%;
        padding: 0 4%;
    }

    .feature-2-image .feature-2-btn {
        left: 170px;
        bottom: -50px;
    }

    /* work section */
    .work-section {
        height: 100%;
        margin: 80px 0;
    }

    .work-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 3%;
    }

    /* ---facts section */
    .fact-container {
        flex-wrap: wrap;
        gap: 30px;
        margin: 1rem;
    }

    .facts h3,
    p {
        padding: 0 3%;
    }

    .fact-individual {
        width: 7rem;
    }

    /* sponsor section */

    .sponsor-container {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    /* footer */
    .footer {
        height: 100%;
        margin-bottom: 0;
    }

    .footer .about {
        width: 100%;
        flex-direction: column;
        gap: 20px;
        margin: 18px 0;
    }

    .about .about-text,
    .contact {
        padding: 0 4%;
    }

    
    .about .contact p {
        padding: 0;
    }

}